/*************************
 General and reset
*************************/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*************************
   Basic margin padding
*************************/
.m-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/*************************
    Margin top
*************************/
.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-157 {
  margin-top: 157px;
}

.mt-195 {
  margin-top: 195px;
}

/*************************
      Margin right
*************************/
.mr-0 {
  margin-right: 0px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-150 {
  margin-right: 150px;
}

/*************************
    Margin bottom
*************************/
.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-128 {
  margin-bottom: 128px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-350 {
  margin-bottom: 350px;
}

/*************************
    Margin left
*************************/
.ml-0 {
  margin-left: 0;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-150 {
  margin-left: 150px;
}

/*************************
    Padding top
*************************/
.pt-0 {
  padding-top: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-23 {
  padding-top: 23px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-38 {
  padding-top: 38px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-66 {
  padding-top: 66px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-72 {
  padding-top: 72px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-96 {
  padding-top: 96px;
}

.pt-98 {
  padding-top: 98px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-122 {
  padding-top: 122px;
}

.pt-123 {
  padding-top: 123px;
}

.pt-124 {
  padding-top: 124px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-132 {
  padding-top: 132px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-152 {
  padding-top: 152px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-157 {
  padding-top: 157px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-220 {
  padding-top: 220px;
}

/*************************
    Padding right
*************************/
.pr-0 {
  padding-right: 0;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-140 {
  padding-right: 140px;
}

/*************************
    Padding bottom
*************************/
.pb-0 {
  padding-bottom: 0;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-14 {
  padding-bottom: 14px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-38 {
  padding-bottom: 38px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-66 {
  padding-bottom: 66px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-78 {
  padding-bottom: 78px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-88 {
  padding-bottom: 88px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-118 {
  padding-bottom: 118px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-128 {
  padding-bottom: 128px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-220 {
  padding-bottom: 220px;
}

/*************************
    Padding left
*************************/
.pl-0 {
  padding-left: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-150 {
  padding-left: 150px;
}

/***************************
    06. Page section padding 
****************************/
.ptb-0 {
  padding: 0;
}

.ptb-10 {
  padding: 10px 0;
}

.ptb-18 {
  padding: 18px 0;
}

.ptb-20 {
  padding: 20px 0;
}

.ptb-30 {
  padding: 30px 0;
}

.ptb-40 {
  padding: 40px 0;
}

.ptb-50 {
  padding: 50px 0;
}

.ptb-60 {
  padding: 60px 0;
}

.ptb-70 {
  padding: 70px 0;
}

.ptb-80 {
  padding: 80px 0;
}

.ptb-90 {
  padding: 90px 0;
}

.ptb-100 {
  padding: 100px 0;
}

.ptb-110 {
  padding: 110px 0;
}

.ptb-120 {
  padding: 120px 0;
}

.ptb-130 {
  padding: 130px 0;
}

.ptb-140 {
  padding: 140px 0;
}

.ptb-150 {
  padding: 150px 0;
}

/***************************
    07. Page section margin 
****************************/
.mtb-0 {
  margin: 0;
}

.mtb-10 {
  margin: 10px 0;
}

.mtb-15 {
  margin: 15px 0;
}

.mtb-20 {
  margin: 20px 0;
}

.mtb-30 {
  margin: 30px 0;
}

.mtb-40 {
  margin: 40px 0;
}

.mtb-50 {
  margin: 50px 0;
}

.mtb-60 {
  margin: 60px 0;
}

.mtb-70 {
  margin: 70px 0;
}

.mtb-80 {
  margin: 80px 0;
}

.mtb-90 {
  margin: 90px 0;
}

.mtb-100 {
  margin: 100px 0;
}

.mtb-110 {
  margin: 110px 0;
}

.mtb-120 {
  margin: 120px 0;
}

.mtb-130 {
  margin: 130px 0;
}

.mtb-140 {
  margin: 140px 0;
}

.mtb-150 {
  margin: 150px 0;
}

/*******************************
 FULL PADDING
*******************************/
.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

.p-14 {
  padding: 14px;
}

.p-16 {
  padding: 16px;
}

.p-18 {
  padding: 18px;
}

.p-20 {
  padding: 20px;
}

.p-22 {
  padding: 22px;
}

.p-24 {
  padding: 24px;
}

.p-26 {
  padding: 26px;
}

.p-28 {
  padding: 28px;
}

.p-30 {
  padding: 30px;
}

.p-32 {
  padding: 32px;
}

.p-34 {
  padding: 34px;
}

.p-36 {
  padding: 36px;
}

.p-38 {
  padding: 38px;
}

.p-40 {
  padding: 40px;
}

.p-42 {
  padding: 42px;
}

.p-44 {
  padding: 44px;
}

.p-46 {
  padding: 46px;
}

.p-48 {
  padding: 48px;
}

.p-50 {
  padding: 50px;
}

.p-52 {
  padding: 52px;
}

.p-54 {
  padding: 54px;
}

.p-56 {
  padding: 56px;
}

.p-58 {
  padding: 58px;
}

.p-60 {
  padding: 60px;
}

/************************************
 RESPONSIVE PADDING
************************************/
@media only screen and (max-width: 767px) {
  .media_p-2 {
    padding: 2px;
  }
  .media_p-4 {
    padding: 4px;
  }
  .media_p-6 {
    padding: 6px;
  }
  .media_p-8 {
    padding: 8px;
  }
  .media_p-10 {
    padding: 10px;
  }
  .media_p-12 {
    padding: 12px;
  }
  .media_p-14 {
    padding: 14px;
  }
  .media_p-16 {
    padding: 16px;
  }
  .media_p-18 {
    padding: 18px;
  }
  .media_p-20 {
    padding: 20px;
  }
  .media_p-22 {
    padding: 22px;
  }
  .media_p-24 {
    padding: 24px;
  }
  .media_p-26 {
    padding: 26px;
  }
  .media_p-28 {
    padding: 28px;
  }
  .media_p-30 {
    padding: 30px;
  }
  .media_p-32 {
    padding: 32px;
  }
  .media_p-34 {
    padding: 34px;
  }
  .media_p-36 {
    padding: 36px;
  }
  .media_p-38 {
    padding: 38px;
  }
  .media_p-40 {
    padding: 40px;
  }
  .media_p-42 {
    padding: 42px;
  }
  .media_p-44 {
    padding: 44px;
  }
  .media_p-46 {
    padding: 46px;
  }
  .media_p-48 {
    padding: 48px;
  }
  .media_p-50 {
    padding: 50px;
  }
  .media_p-52 {
    padding: 52px;
  }
  .media_p-54 {
    padding: 54px;
  }
  .media_p-56 {
    padding: 56px;
  }
  .media_p-58 {
    padding: 58px;
  }
  .media_p-60 {
    padding: 60px;
  }
}

/************************************
 RESPONSIVE MARGIN
************************************/
@media only screen and (max-width: 767px) {
  .media_m-2 {
    margin: 2px;
  }
  .media_m-3 {
    margin: 3px;
  }
  .media_m-4 {
    margin: 4px;
  }
  .media_m-5 {
    margin: 5px;
  }
  .media_m-6 {
    margin: 6px;
  }
  .media_m-7 {
    margin: 7px;
  }
  .media_m-8 {
    margin: 8px;
  }
  .media_m-9 {
    margin: 9px;
  }
  .media_m-10 {
    margin: 10px;
  }
  .media_m-11 {
    margin: 11px;
  }
  .media_m-12 {
    margin: 12px;
  }
  .media_m-13 {
    margin: 13px;
  }
  .media_m-14 {
    margin: 14px;
  }
  .media_m-15 {
    margin: 15px;
  }
  .media_m-16 {
    margin: 16px;
  }
  .media_m-17 {
    margin: 17px;
  }
  .media_m-18 {
    margin: 18px;
  }
  .media_m-19 {
    margin: 19px;
  }
  .media_m-20 {
    margin: 20px;
  }
  .media_m-21 {
    margin: 21px;
  }
  .media_m-22 {
    margin: 22px;
  }
  .media_m-23 {
    margin: 23px;
  }
  .media_m-24 {
    margin: 24px;
  }
  .media_m-25 {
    margin: 25px;
  }
  .media_m-26 {
    margin: 26px;
  }
  .media_m-27 {
    margin: 27px;
  }
  .media_m-28 {
    margin: 28px;
  }
  .media_m-29 {
    margin: 29px;
  }
  .media_m-30 {
    margin: 30px;
  }
  .media_m-31 {
    margin: 31px;
  }
  .media_m-32 {
    margin: 32px;
  }
  .media_m-33 {
    margin: 33px;
  }
  .media_m-34 {
    margin: 34px;
  }
  .media_m-35 {
    margin: 35px;
  }
  .media_m-36 {
    margin: 36px;
  }
  .media_m-37 {
    margin: 37px;
  }
  .media_m-38 {
    margin: 38px;
  }
  .media_m-39 {
    margin: 39px;
  }
  .media_m-40 {
    margin: 40px;
  }
  .media_m-41 {
    margin: 41px;
  }
  .media_m-42 {
    margin: 42px;
  }
  .media_m-43 {
    margin: 43px;
  }
  .media_m-44 {
    margin: 44px;
  }
  .media_m-45 {
    margin: 45px;
  }
  .media_m-46 {
    margin: 46px;
  }
  .media_m-47 {
    margin: 47px;
  }
  .media_m-48 {
    margin: 48px;
  }
  .media_m-49 {
    margin: 49px;
  }
  .media_m-50 {
    margin: 50px;
  }
  .media_m-51 {
    margin: 51px;
  }
  .media_m-52 {
    margin: 52px;
  }
  .media_m-53 {
    margin: 53px;
  }
  .media_m-54 {
    margin: 54px;
  }
  .media_m-55 {
    margin: 55px;
  }
  .media_m-56 {
    margin: 56px;
  }
  .media_m-57 {
    margin: 57px;
  }
  .media_m-58 {
    margin: 58px;
  }
  .media_m-59 {
    margin: 59px;
  }
  .media_m-60 {
    margin: 60px;
  }
  .media_m-61 {
    margin: 61px;
  }
  .media_m-62 {
    margin: 62px;
  }
  .media_m-63 {
    margin: 63px;
  }
  .media_m-64 {
    margin: 64px;
  }
  .media_m-65 {
    margin: 65px;
  }
  .media_m-66 {
    margin: 66px;
  }
  .media_m-67 {
    margin: 67px;
  }
  .media_m-68 {
    margin: 68px;
  }
  .media_m-69 {
    margin: 69px;
  }
  .media_m-70 {
    margin: 70px;
  }
  .media_m-71 {
    margin: 71px;
  }
  .media_m-72 {
    margin: 72px;
  }
  .media_m-73 {
    margin: 73px;
  }
  .media_m-74 {
    margin: 74px;
  }
  .media_m-75 {
    margin: 75px;
  }
  .media_m-76 {
    margin: 76px;
  }
  .media_m-77 {
    margin: 77px;
  }
  .media_m-78 {
    margin: 78px;
  }
  .media_m-79 {
    margin: 79px;
  }
  .media_m-80 {
    margin: 80px;
  }
  .media_m-81 {
    margin: 81px;
  }
  .media_m-82 {
    margin: 82px;
  }
  .media_m-83 {
    margin: 83px;
  }
  .media_m-84 {
    margin: 84px;
  }
  .media_m-85 {
    margin: 85px;
  }
  .media_m-86 {
    margin: 86px;
  }
  .media_m-87 {
    margin: 87px;
  }
  .media_m-88 {
    margin: 88px;
  }
  .media_m-89 {
    margin: 89px;
  }
  .media_m-90 {
    margin: 90px;
  }
  .media_m-91 {
    margin: 91px;
  }
  .media_m-92 {
    margin: 92px;
  }
  .media_m-93 {
    margin: 93px;
  }
  .media_m-94 {
    margin: 94px;
  }
  .media_m-95 {
    margin: 95px;
  }
  .media_m-96 {
    margin: 96px;
  }
  .media_m-97 {
    margin: 97px;
  }
  .media_m-98 {
    margin: 98px;
  }
  .media_m-99 {
    margin: 99px;
  }
  .media_m-100 {
    margin: 100px;
  }
}

/******************************
    font-sizes
*******************************/
.f-8 {
  font-size: 0.57143rem;
}

.f-10 {
  font-size: 0.71429rem;
}

.f-12 {
  font-size: 0.85714rem;
}

.f-14 {
  font-size: 1rem;
}

.f-16 {
  font-size: 1.14286rem;
}

.f-18 {
  font-size: 1.28571rem;
}

.f-20 {
  font-size: 1.42857rem;
}

.f-22 {
  font-size: 1.57143rem;
}

.f-24 {
  font-size: 1.71429rem;
}

.f-26 {
  font-size: 1.85714rem;
}

.f-28 {
  font-size: 2rem;
}

.f-30 {
  font-size: 2.14286rem;
}

.f-32 {
  font-size: 2.28571rem;
}

.f-34 {
  font-size: 2.42857rem;
}

.f-36 {
  font-size: 2.57143rem;
}

.f-38 {
  font-size: 2.71429rem;
}

.f-40 {
  font-size: 2.85714rem;
}

.f-42 {
  font-size: 3rem;
}

.f-44 {
  font-size: 3.14286rem;
}

.f-46 {
  font-size: 3.28571rem;
}

.f-48 {
  font-size: 3.42857rem;
}

.f-50 {
  font-size: 3.57143rem;
}

.f-52 {
  font-size: 3.71429rem;
}

.f-54 {
  font-size: 3.85714rem;
}

.f-56 {
  font-size: 4rem;
}

.f-58 {
  font-size: 4.14286rem;
}

.f-60 {
  font-size: 4.28571rem;
}

.f-62 {
  font-size: 4.42857rem;
}

.f-64 {
  font-size: 4.57143rem;
}

.f-66 {
  font-size: 4.71429rem;
}

.f-68 {
  font-size: 4.85714rem;
}

.f-70 {
  font-size: 5rem;
}

.f-72 {
  font-size: 5.14286rem;
}

.f-74 {
  font-size: 5.28571rem;
}

.f-76 {
  font-size: 5.42857rem;
}

.f-78 {
  font-size: 5.57143rem;
}

.f-80 {
  font-size: 5.71429rem;
}

.f-82 {
  font-size: 5.85714rem;
}

.f-84 {
  font-size: 6rem;
}

.f-86 {
  font-size: 6.14286rem;
}

.f-88 {
  font-size: 6.28571rem;
}

.f-90 {
  font-size: 6.42857rem;
}

.f-92 {
  font-size: 6.57143rem;
}

.f-94 {
  font-size: 6.71429rem;
}

.f-96 {
  font-size: 6.85714rem;
}

.f-98 {
  font-size: 7rem;
}

.f-100 {
  font-size: 7.14286rem;
}

.f-102 {
  font-size: 7.28571rem;
}

.f-104 {
  font-size: 7.42857rem;
}

.f-106 {
  font-size: 7.57143rem;
}

.f-108 {
  font-size: 7.71429rem;
}

.f-110 {
  font-size: 7.85714rem;
}

.f-112 {
  font-size: 8rem;
}

.f-114 {
  font-size: 8.14286rem;
}

.f-116 {
  font-size: 8.28571rem;
}

.f-118 {
  font-size: 8.42857rem;
}

.f-120 {
  font-size: 8.57143rem;
}

/************************************
    Z-INDEXES
************************************/
.z-2 {
  z-index: -2;
}

.z-1 {
  z-index: -1;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

.z11 {
  z-index: 11;
}

.z12 {
  z-index: 12;
}

.z13 {
  z-index: 13;
}

.z14 {
  z-index: 14;
}

.z15 {
  z-index: 15;
}

.z16 {
  z-index: 16;
}

.z17 {
  z-index: 17;
}

.z18 {
  z-index: 18;
}

.z19 {
  z-index: 19;
}

.z20 {
  z-index: 20;
}

.z21 {
  z-index: 21;
}

.z22 {
  z-index: 22;
}

.z23 {
  z-index: 23;
}

.z24 {
  z-index: 24;
}

.z25 {
  z-index: 25;
}

.z26 {
  z-index: 26;
}

.z27 {
  z-index: 27;
}

.z28 {
  z-index: 28;
}

.z29 {
  z-index: 29;
}

.z30 {
  z-index: 30;
}

.z31 {
  z-index: 31;
}

.z32 {
  z-index: 32;
}

.z33 {
  z-index: 33;
}

.z34 {
  z-index: 34;
}

.z35 {
  z-index: 35;
}

.z36 {
  z-index: 36;
}

.z37 {
  z-index: 37;
}

.z38 {
  z-index: 38;
}

.z39 {
  z-index: 39;
}

.z40 {
  z-index: 40;
}

.z41 {
  z-index: 41;
}

.z42 {
  z-index: 42;
}

.z43 {
  z-index: 43;
}

.z44 {
  z-index: 44;
}

.z45 {
  z-index: 45;
}

.z46 {
  z-index: 46;
}

.z47 {
  z-index: 47;
}

.z48 {
  z-index: 48;
}

.z49 {
  z-index: 49;
}

.z50 {
  z-index: 50;
}

.z51 {
  z-index: 51;
}

.z52 {
  z-index: 52;
}

.z53 {
  z-index: 53;
}

.z54 {
  z-index: 54;
}

.z55 {
  z-index: 55;
}

.z56 {
  z-index: 56;
}

.z57 {
  z-index: 57;
}

.z58 {
  z-index: 58;
}

.z59 {
  z-index: 59;
}

.z60 {
  z-index: 60;
}

.z61 {
  z-index: 61;
}

.z62 {
  z-index: 62;
}

.z63 {
  z-index: 63;
}

.z64 {
  z-index: 64;
}

.z65 {
  z-index: 65;
}

.z66 {
  z-index: 66;
}

.z67 {
  z-index: 67;
}

.z68 {
  z-index: 68;
}

.z69 {
  z-index: 69;
}

.z70 {
  z-index: 70;
}

.z71 {
  z-index: 71;
}

.z72 {
  z-index: 72;
}

.z73 {
  z-index: 73;
}

.z74 {
  z-index: 74;
}

.z75 {
  z-index: 75;
}

.z76 {
  z-index: 76;
}

.z77 {
  z-index: 77;
}

.z78 {
  z-index: 78;
}

.z79 {
  z-index: 79;
}

.z80 {
  z-index: 80;
}

.z81 {
  z-index: 81;
}

.z82 {
  z-index: 82;
}

.z83 {
  z-index: 83;
}

.z84 {
  z-index: 84;
}

.z85 {
  z-index: 85;
}

.z86 {
  z-index: 86;
}

.z87 {
  z-index: 87;
}

.z88 {
  z-index: 88;
}

.z89 {
  z-index: 89;
}

.z90 {
  z-index: 90;
}

.z91 {
  z-index: 91;
}

.z92 {
  z-index: 92;
}

.z93 {
  z-index: 93;
}

.z94 {
  z-index: 94;
}

.z95 {
  z-index: 95;
}

.z96 {
  z-index: 96;
}

.z97 {
  z-index: 97;
}

.z98 {
  z-index: 98;
}

.z99 {
  z-index: 99;
}

.z100 {
  z-index: 100;
}

/********** Rating **********/
.rating.rating_5 {
  font-size: 16px;
}

.rating.rating_5 i:nth-child(1).icon-star-solid {
  font-size: 16px;
  color: #f5b800;
}

.rating.rating_5 i:nth-child(2).icon-star-solid {
  color: #f5a300;
}

.rating.rating_5 i:nth-child(3).icon-star-solid {
  color: #f58f00;
}

.rating.rating_5 i:nth-child(4).icon-star-solid {
  color: #f57a00;
}

.rating.rating_5 i:nth-child(5).icon-star-solid {
  color: #f56600;
}

.rating.rating_4 i.icon-star-solid,
.rating.rating_3 i.icon-star-solid,
.rating.rating_2 i.icon-star-solid,
.rating.rating_1 i.icon-star-solid {
  font-size: 16px;
  color: #f57200;
}

.rating.rating_4 i.icon-star-1,
.rating.rating_3 i.icon-star-1,
.rating.rating_2 i.icon-star-1,
.rating.rating_1 i.icon-star-1 {
  font-size: 16px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #f5b800;
}

.rating.rating_4 i:nth-child(1).icon-star-solid {
  font-size: 16px;
  color: #f5b800;
}

.rating.rating_4 i:nth-child(2).icon-star-solid {
  color: #f5a300;
}

.rating.rating_4 i:nth-child(3).icon-star-solid {
  color: #f58f00;
}

.rating.rating_4 i:nth-child(4).icon-star-solid {
  color: #f57a00;
}

.rating.rating_3 i:nth-child(1).icon-star-solid {
  font-size: 16px;
  color: #f5b800;
}

.rating.rating_3 i:nth-child(2).icon-star-solid {
  color: #f5a300;
}

.rating.rating_3 i:nth-child(3).icon-star-solid {
  color: #f58f00;
}

.rating.rating_2 i:nth-child(1).icon-star-solid {
  font-size: 16px;
  color: #f5b800;
}

.rating.rating_2 i:nth-child(2).icon-star-solid {
  color: #f5a300;
}

.rating.rating_1 i:nth-child(1).icon-star-solid {
  font-size: 16px;
  color: #f5b800;
}

/*******************************
 TEXT COLOR
*******************************/
.t-color1 {
  color: #333333;
}

.t-color2 {
  color: #454545;
}

.t-color3 {
  color: #575757;
}

.t-color4 {
  color: dimgray;
}

.t-color5 {
  color: #7a7a7a;
}

.t-color6 {
  color: #8c8c8c;
}

.t-color7 {
  color: #9e9e9e;
}

.t-color8 {
  color: #b0b0b0;
}

.t-color9 {
  color: #c2c2c2;
}

.t-color10 {
  color: #d4d4d4;
}

.t-color11 {
  color: #e6e6e6;
}

.t-color12 {
  color: #f7f7f7;
}

/****************************
 BACKGROUND GREY COLOR
****************************/
.back_grey1 {
  background: #161616;
}

.back_grey2 {
  background: #2c2c2c;
}

.back_grey3 {
  background: #424242;
}

.back_grey4 {
  background: #575757;
}

.back_grey5 {
  background: #6d6d6d;
}

.back_grey6 {
  background: #838383;
}

.back_grey7 {
  background: #999999;
}

.back_grey8 {
  background: #afafaf;
}

.back_grey9 {
  background: #c5c5c5;
}

.back_grey10 {
  background: #dbdbdb;
}

.back_grey11 {
  background: #f0f0f0;
}

.back_grey12 {
  background: white;
}

/*******************************
 BORDER RADIUS
*******************************/
.br_2 {
  border-radius: 2px;
}

.br_3 {
  border-radius: 3px;
}

.br_4 {
  border-radius: 4px;
}

.br_5 {
  border-radius: 5px;
}

.br_6 {
  border-radius: 6px;
}

.br_7 {
  border-radius: 7px;
}

.br_8 {
  border-radius: 8px;
}

.br_9 {
  border-radius: 9px;
}

.br_10 {
  border-radius: 10px;
}

.br_11 {
  border-radius: 11px;
}

.br_12 {
  border-radius: 12px;
}

.br_13 {
  border-radius: 13px;
}

.br_14 {
  border-radius: 14px;
}

.br_15 {
  border-radius: 15px;
}

.br_16 {
  border-radius: 16px;
}

.br_17 {
  border-radius: 17px;
}

.br_18 {
  border-radius: 18px;
}

.br_19 {
  border-radius: 19px;
}

.br_20 {
  border-radius: 20px;
}

.br_21 {
  border-radius: 21px;
}

.br_22 {
  border-radius: 22px;
}

.br_23 {
  border-radius: 23px;
}

.br_24 {
  border-radius: 24px;
}

.br_25 {
  border-radius: 25px;
}

.br_26 {
  border-radius: 26px;
}

.br_27 {
  border-radius: 27px;
}

.br_28 {
  border-radius: 28px;
}

.br_29 {
  border-radius: 29px;
}

.br_30 {
  border-radius: 30px;
}

.br_31 {
  border-radius: 31px;
}

.br_32 {
  border-radius: 32px;
}

.br_33 {
  border-radius: 33px;
}

.br_34 {
  border-radius: 34px;
}

.br_35 {
  border-radius: 35px;
}

.br_36 {
  border-radius: 36px;
}

.br_37 {
  border-radius: 37px;
}

.br_38 {
  border-radius: 38px;
}

.br_39 {
  border-radius: 39px;
}

.br_40 {
  border-radius: 40px;
}

.br_41 {
  border-radius: 41px;
}

.br_42 {
  border-radius: 42px;
}

.br_43 {
  border-radius: 43px;
}

.br_44 {
  border-radius: 44px;
}

.br_45 {
  border-radius: 45px;
}

.br_46 {
  border-radius: 46px;
}

.br_47 {
  border-radius: 47px;
}

.br_48 {
  border-radius: 48px;
}

.br_49 {
  border-radius: 49px;
}

.br_50 {
  border-radius: 50px;
}

/*************************************
   Pagination
**************************************/
.pagination-content .pagination li a {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  color: #303030;
  display: inline-block;
  font-size: 13px;
  height: 38px;
  line-height: 42px;
  margin: 0 9px;
  padding: 0;
  text-align: center;
  width: 38px;
}

.pagination-content .pagination li a i {
  font-size: 17px;
}

.pagination-content .pagination li a:hover, .pagination-content .pagination li.active a {
  background: #EBEBEB none repeat scroll 0 0;
}

/*************************************
   Breadcrumb
**************************************/
.breadcrumb-area {
  padding: 256px 0 178px;
}

.breadcrumb-text {
  position: relative;
  z-index: 1;
}

.breadcrumb-bar .breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  line-height: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.breadcrumb-text h3 {
  color: #002E5B;
  font-family: 'Open Sans', sans-serif;
  line-height: 26px;
  margin-bottom: 24px;
  text-transform: capitalize;
  font-size: 36px;
}

.breadcrumb-bar li {
  color: #ffffff;
  font-weight: 500;
  line-height: 14px;
  margin: 0 19px;
  position: relative;
  text-transform: uppercase;
}

.breadcrumb-bar .breadcrumb > li:first-child::before {
  color: #ffffff;
  content: "//";
  display: inline-block;
  position: absolute;
  right: -24px;
  top: 0;
}

.breadcrumb-bar .breadcrumb > li + li::before {
  display: none;
}

.breadcrumb-bar a {
  color: #ffffff;
}

.breadcrumb-bar a:hover {
  color: #614a3d;
}

.breadcrumb-bar li:first-child {
  margin-left: 0;
}

/*******************
 position
*******************/
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.o_hidden {
  overflow: hidden;
}

.o_visible {
  overflow: visible;
}

.o_y_scroll {
  overflow-y: scroll;
}

/****************************
 mouse pointer
****************************/
.point {
  cursor: pointer;
}

/**********************
 TEXT 
**********************/
.centerize {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.dec_none {
  text-decoration: none !important;
}

.has_text_shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
}

/********************
    Image
********************/
img {
  max-width: 100%;
}

.cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.has_back_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vh {
  height: 100vh;
  max-height: 100%;
}

.vw {
  width: 100vw;
  max-width: 100%;
}

/***************************
  CARD LAYOUT
***************************/
.card_ly {
  display: block;
}

.card_img img {
  height: 250px;
  width: 100%;
}

.card_content {
  display: block;
}

.card_title {
  font-weight: 600;
}

.card_description {
  font-weight: 400;
}

/******************************
 BUTTON STYLES
******************************/
.btn_style_u {
  background: blue;
  padding: 10px 20px;
  color: white;
}

/***********************************
    BOX SHADOWS
***********************************/
.box_shadow {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/*******************************
 HOVER SHADOW BOX
*******************************/
.hover_shadow {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hover_shadow:hover {
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

/*******************************
 TEXT COLORS
*******************************/
/******************************
 SPAN DAY
******************************/
span.card_day:after {
  content: "Days";
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 400;
}

span.card_cost::before {
  content: "from $US";
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 400;
}

/**********************/
.w-50 {
  width: 50%;
}

/**************************
 ABSOLUTE BUTTONS ON CARD
**************************/
.btn_on_card_b_r {
  bottom: 5px;
  right: 5px;
  border: none;
}

.btn_on_card_b_r:hover {
  opacity: 0.8;
}

/********** absolute tags **********/
.days_tag {
  background: orange;
  z-index: 1;
  top: 15px;
  right: 15px;
}

.discount_tag {
  background: blue;
  top: 20px;
  left: -10px;
  color: white;
}

/**************************
 HOVER EFFECTS
***************************/
.zoom_in {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoom_in:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}

.zoom_mega {
  display: block;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.zoom_out {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoom_out:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}

.shadow_box {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.shadow_box:hover {
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.delay25 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.delay3 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.delay35 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.delay4 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.delay45 {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/**********************************
 BUTTONS
**********************************/
.btn_position_aware {
  border: 1px solid #212121;
  text-align: center;
  position: relative;
  display: block;
  color: #333;
  background: none;
}

.btn_position_aware span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #2c2c64;
  z-index: -1;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn_position_aware:hover {
  color: white;
}

.btn_position_aware:hover span {
  width: 225%;
  height: 500%;
}

/*******************************
    HOVER CONTENT ON HOVER
*******************************/
.hover_content_wrap {
  background: rgba(255, 255, 255, 0.45);
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 100;
}

.hover_content {
  width: 1140px;
  border: 2px solid #ccc;
  background-image: url(../images/beanstalk.html);
  background-color: rgba(255, 255, 255, 0.45);
  background-blend-mode: lighten;
  position: relative;
  z-index: 1;
}

.hover_content_info {
  width: 70%;
}

.hover_content_aside {
  width: 30%;
  border: 1px solid #FFC8C8;
  background: #FEEBEB;
}

.hover_content_aside .tour_price_hov {
  border-bottom: 1px solid #FFC8C8;
}

.hover_content_aside .tour_price_hov strong {
  margin-left: 5px;
}

.hover_content_aside .feature_item {
  margin-bottom: 10px;
}

.hover_content_aside .feature_item:last-child {
  margin-bottom: 0;
}

.hover_content_aside .feature_item i {
  color: rgba(0, 202, 51, 0.972);
  margin-right: 5px;
}

.hover_content_aside .feature_item .feature_text {
  font-weight: 400;
  font-size: 14px;
}

.hover_content_aside .feature_list {
  border-bottom: 1px solid #FFC8C8;
}

.rating_n_review {
  border-bottom: 1px solid #FFC8C8;
}

.review_text .review_linked {
  color: magenta;
}

.helper_text {
  border-bottom: 1px solid #FFC8C8;
}

.helper_text a {
  color: #414114;
  text-decoration: underline;
}

.btn_book {
  background: magenta;
  border: none;
  padding: 10px 25px;
  color: white;
}

.see_details {
  color: #414141;
  text-decoration: underline;
}

.icons_wrap {
  width: calc(50% - 10px);
  margin-left: auto;
}

.trip_icon_single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(100% / 2 - 15px);
  margin-bottom: 30px;
}

.trip_icon_single:nth-child(odd) {
  margin-right: auto;
}

.trip_icon_single:nth-child(even) {
  margin-right: auto;
}

.trip_icon_single i {
  font-size: 30px;
  color: #666;
  margin-right: 5px;
}

.trip_icon_single .icon_content {
  display: block;
}

.trip_icon_single .icon_content .title_icon {
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
}

.trip_icon_single .icon_content .icon_info {
  font-size: 14px;
  margin-top: 5px;
}

.trip_highlights {
  margin-top: 30px;
}

.trip_highlights h3 {
  margin-bottom: 10px;
}

.trip_highlights ul {
  text-decoration: none;
}

.trip_highlights ul .highlight_single {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  color: lightslategrey;
}

.trip_highlights ul .highlight_single i {
  font-size: 12px;
  color: dimgrey;
  margin-right: 5px;
}

.overlay_dark {
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  top: 0;
  left: 0;
}

.intro_overview {
  width: calc(50% - 15px);
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro_overview p {
  line-height: 1.45;
}
/*# sourceMappingURL=m-style.css.map */