/**************************************
    Stylesheet Contents

    1. Main Navigation
    2. HOMEPAGE TOP
    3. SERVICES
    4. WORK CAROUSEL
    5. PRODUCTS
    6. CONTACT
    7. PRODUCT SINGLE PAGE
    8. CASE STUDY
    9. BLOG LISTING PAGE
    10. BLOG SINGLE PAGE
    11. QUERY FORMS
    12. Bee Logo Animation

**************************************/
@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700,800,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,800,900&amp;display=swap");
body {
  scroll-behavior: smooth;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'muli';
  color: #7A7A7A;
  margin: 0;
  width: 100%;
  -webkit-transition: margin-left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out;
}

@media only screen and (min-width: 1800px) {
  body {
    font-size: 16px;
  }
}

body.margin_left_menu {
  margin-left: 350px;
  -webkit-transition: margin-left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out;
  width: calc(100% + 350px);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 16px;
  }
}

::-moz-selection {
  background: rgba(253, 210, 3, 0.55);
}

::selection {
  background: rgba(253, 210, 3, 0.55);
}

::-moz-selection {
  background: rgba(253, 210, 3, 0.55);
}

h1 {
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5em;
  font-weight: 400;
  font-family: 'muli';
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-family: 'catamaran';
  color: #2D2D2D;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]) {
  color: #2D2D2D;
  cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
  color: #2D2D2D;
}

.btn_main {
  display: inline-block;
  background: #FDD203;
  padding: 8px 25px;
  font-family: 'catamaran';
  font-size: 1.2rem;
  color: #2D2D2D;
  border-radius: 40px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.btn_main:hover {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: all ease-in-out 0.35s;
  transition: all ease-in-out 0.35s;
  color: #414141;
}

.btn_width_line {
  color: #414141;
  text-transform: lowercase;
  font-weight: 600;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn_width_line:before {
  content: '------';
  letter-spacing: -3px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn_width_line:hover {
  color: #00072D;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn_width_line:hover:before {
  color: #00072D;
}

img {
  max-width: 100%;
}

p.dim {
  color: #7A7A7A;
}

p.dark {
  color: #414141;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.scroll_snap {
  scroll-snap-align: start;
}

section {
  position: relative;
}

strong {
  font-weight: 700;
  color: #414141;
}

blockquote {
  display: block;
  color: #2D2D2D;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 1em;
  font-weight: 500;
}

blockquote:before, blockquote:after {
  content: '"';
}

blockquote .underline {
  position: relative;
  z-index: 0;
}

blockquote .underline:before {
  display: inline-block;
  position: absolute;
  top: 14px;
  z-index: -1;
  content: "";
  width: 100%;
  height: 12px;
  background-color: rgba(253, 210, 3, 0.4);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.red {
  color: red;
}

button {
  border: none;
}

button.btn_main {
  padding: 7px 25px;
}

/**************************************

    1. MAIN NAVIGATION

**************************************/
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.featured_logo .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'catamaran';
  color: #414141;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}

.featured_logo .logo img {
  height: 60px;
}

.featured_logo .logo p {
  margin-bottom: 0;
  font-family: 'catamaran';
  color: #414141;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4;
}

.main_nav {
  background: #FDD203;
  position: relative;
}

.main_nav #menu_close_btn {
  position: absolute;
  z-index: 101;
  top: 30px;
  right: calc(100% + 30px);
}

.main_nav #menu_close_btn i {
  font-size: 45px;
  color: #00072D;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger span {
  height: 3px;
  width: 30px;
  background: white;
  border-radius: 4px;
}

.hamburger span:not(:last-child) {
  margin-bottom: 7px;
}

.featured_logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #FDD203), color-stop(40%, #252525));
  background: linear-gradient(to bottom, #FDD203 60%, #252525 40%);
}

.featured_logo .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 5px 15px;
}

.featured_logo .hamburger {
  margin-top: 20px;
}

.name_main {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 1;
  visibility: visible;
  height: auto;
  width: auto;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.main_navigation {
  position: fixed;
  height: 100vh;
  width: 350px;
  padding: 20px;
  background: #FDD203;
  left: -350px;
  top: 0;
  z-index: 100;
  -webkit-transition: left 0.35s ease-in-out;
  transition: left 0.35s ease-in-out;
}

.main_navigation.show_menu_left {
  left: 0;
  -webkit-transition: left 0.35s ease-in-out;
  transition: left 0.35s ease-in-out;
}

.main_nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'catamaran';
}

.main_nav_items .nav_item:not(:last-child) {
  margin-right: 30px;
}

.main_nav_items .nav_item a {
  display: inline-block;
  color: #2D2D2D;
  font-size: 3rem;
  padding: 10px 10px;
  text-transform: lowercase;
  font-weight: 800;
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.main_nav_items .nav_item a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.body_scroll_control {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.container_wrap {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

/**************************************

    2. HOMEPAGE TOP

**************************************/
.landing_top {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  scroll-snap-align: start;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #FDD203));
  background: linear-gradient(to right, #fff 50%, #FDD203 50%);
}

.landing_top .container {
  max-width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_content .main_title {
  width: 70%;
  font-weight: 800;
}

.main_content p {
  width: 45%;
}

.main_content > div {
  margin-top: 100px;
}

.top_social_icons {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_social_icons .icon_social:not(:last-child) {
  margin-right: 30px;
}

.top_social_icons .icon_social i {
  font-size: 1.2rem;
}

.top_social_icons .icon_social i.fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top_social_icons .icon_social a {
  color: #2D2D2D;
}

.icons_box {
  position: absolute;
  height: 200px;
  width: 200px;
  background: #f7f7f7;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
  z-index: 0;
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.icons_box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons_box .text_anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.icons_box .text_anim p:before {
  content: '';
  -webkit-animation-duration: 6s;
  -webkit-animation-name: animate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-duration: 6s;
  -moz-animation-name: animate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  -ms-animation-duration: 6s;
  -ms-animation-name: animate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-fill-mode: forwards;
  -o-animation-duration: 6s;
  -o-animation-name: animate;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  animation-duration: 6s;
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  font-size: 2rem;
  color: #2D2D2D;
  font-weight: 800;
}

@-webkit-keyframes animate {
  0% {
    content: 'Protect';
    color: #FDD203;
  }
  20% {
    content: 'Research';
    color: #00072D;
  }
  40% {
    content: 'Cure';
    color: #31124b;
  }
  60% {
    content: 'Develop';
    color: #CB2027;
  }
  80% {
    content: 'Improve';
    color: #004D91;
  }
  100% {
    content: 'Help';
    color: #004D91;
  }
}

@keyframes animate {
  0% {
    content: 'Protect';
    color: #FDD203;
  }
  20% {
    content: 'Research';
    color: #00072D;
  }
  40% {
    content: 'Cure';
    color: #31124b;
  }
  60% {
    content: 'Develop';
    color: #CB2027;
  }
  80% {
    content: 'Improve';
    color: #004D91;
  }
  100% {
    content: 'Help';
    color: #004D91;
  }
}

#form_for_consultation {
  display: none;
}

#form_for_consultation .underline::before {
  display: inline-block;
  position: absolute;
  top: 18px;
  z-index: -1;
  content: "";
  width: 100%;
  height: 12px;
  background-color: rgba(253, 210, 3, 0.4);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/**************************************

    3. SERVICES

**************************************/
.services {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_single {
  margin-top: 30px;
  background: #F6F6F6;
  padding: 30px;
}

.card_single_title {
  font-size: 1.4rem;
  margin-top: 20px;
}

.card_single_content {
  line-height: 1.5;
  color: #414141;
  margin-bottom: 0;
}

.featured_card_icon {
  display: inline-block;
}

.featured_card_icon img {
  position: relative;
  width: 60px;
  z-index: 1;
}

.icon_single_back_yelo {
  width: 120%;
  height: auto;
  z-index: 0;
  bottom: -15px;
  left: -10%;
}

.icon_single_back_yelo svg {
  width: 100%;
  max-width: 100%;
}

.mobile_icon .icon_single_back_yelo {
  width: 73%;
  left: 8px;
  bottom: -23px;
}

.last_last .featured_card_icon .icon_single_back_yelo {
  bottom: -5px;
}

.technologies_icon {
  margin-top: 30px;
  height: 100%;
}

.tech_icons {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tech_icons i {
  font-size: 25px;
  margin-right: 15px;
}

.tech_icons i.fa-laravel {
  color: #7A7A7A;
}

.tech_icons i.fa-laravel:hover {
  color: #FF2D20;
}

.tech_icons i.fa-wordpress-simple {
  color: #7A7A7A;
}

.tech_icons i.fa-wordpress-simple:hover {
  color: #12A5D7;
}

.tech_icons i.fa-android {
  color: #7A7A7A;
}

.tech_icons i.fa-android:hover {
  color: #A0C437;
}

.tech_icons i.icon-flutter {
  color: #7A7A7A;
}

.tech_icons i.icon-flutter:hover {
  color: #43CBF6;
}

.tech_icons i.fa-html5 {
  color: #7A7A7A;
}

.tech_icons i.fa-html5:hover {
  color: #DF4B25;
}

.tech_icons i.fa-css3-alt {
  color: #7A7A7A;
}

.tech_icons i.fa-css3-alt:hover {
  color: #1A70B5;
}

.tech_icons span {
  font-size: 1rem;
  color: #7A7A7A;
  font-weight: 200;
}

.technology_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech_icons .fade_in.appear.time_1 {
  -webkit-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
}

.tech_icons .fade_in.appear.time_2 {
  -webkit-transition: all 1.4s ease-in-out;
  transition: all 1.4s ease-in-out;
}

.tech_icons .fade_in.appear.time_3 {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.tech_icons .fade_in.appear.time_4 {
  -webkit-transition: all 1.6s ease-in-out;
  transition: all 1.6s ease-in-out;
}

.tech_icons .fade_in.appear.time_5 {
  -webkit-transition: all 1.7s ease-in-out;
  transition: all 1.7s ease-in-out;
}

.tech_icons .fade_in.appear.time_6 {
  -webkit-transition: all 1.8s ease-in-out;
  transition: all 1.8s ease-in-out;
}

/**************************************

    4. CAROUSEL WORK

**************************************/
.slide_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 0;
  max-width: 100%;
  height: 4px;
  background: #FDD203;
}

.work_carousel {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  scroll-snap-align: start;
}

.carousel_wrap {
  height: 100%;
}

.work_carousel_ca {
  height: 100%;
}

.work_carousel_ca .work {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_half_work {
  width: 50%;
  height: 100%;
  padding: 100px 100px;
}

.left_half_work h4 {
  margin-top: 30px;
}

.left_half_work p {
  line-height: 1.6;
}

.right_half_work {
  width: 50%;
  height: 100%;
}

.carousel_nav_controls {
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel_nav_controls i {
  color: #FDD203;
  border-radius: 50%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.carousel_nav_controls i:hover {
  background: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.carousel_nav_controls .icon-right-arrow {
  margin-left: 20px;
}

.carousel_nav_controls.carousel_nav_right {
  margin-left: 60px;
}

.work_carousel_ca .owl-dots.disabled {
  display: block;
}

.work_carousel_ca .owl-dots {
  position: absolute;
  bottom: 120px;
  left: 40%;
}

.work_carousel_ca .owl-dots button.owl-dot {
  background: none;
  border: none;
}

.work_carousel .btn_width_line {
  display: inline-block;
  color: #FDD203;
  margin-top: 60px;
  font-weight: 500;
  font-weight: 700;
  -webkit-transition: all  0.35s ease-in-out;
  transition: all  0.35s ease-in-out;
  padding: 8px 25px;
  background: rgba(253, 210, 3, 0.8);
  color: #2D2D2D;
}

.work_carousel .btn_width_line:hover {
  background: #FDD203;
  color: #2D2D2D;
  -webkit-transition: all  0.35s ease-in-out;
  transition: all  0.35s ease-in-out;
  -webkit-transform: none;
          transform: none;
}

.work_carousel .btn_width_line:before {
  margin-right: 0;
  content: '';
}

.work_carousel_ca.owl-theme .owl-dots .owl-dot.active span {
  margin: 5px 2px;
  width: 7px;
  height: 7px;
  background: white;
}

.work_carousel_ca.owl-theme .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_carousel_ca.owl-theme .owl-dots .owl-dot {
  padding: 1px 2px;
}

.work_carousel_ca.owl-theme .owl-dots .owl-dot span {
  margin: 5px 2px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.work_1 .left_half_work {
  background: #ed2121;
}

.work_1 .right_half_work {
  background: url("../img/nvcci-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.work_2 .left_half_work {
  background: #CB2027;
}

.work_2 .right_half_work {
  background: url("../img/ga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.work_3 .left_half_work {
  background: #004D91;
}

.work_3 .right_half_work {
  background: url("../img/maitri_back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.work_4 .left_half_work {
  background: #2C2C2C;
}

.work_4 .right_half_work {
  background: url("../img/aero_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.work_5 .left_half_work {
  background: #31124b;
}

.work_5 .right_half_work {
  background: url("../img/wacaau_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.work_6 .left_half_work {
  background: #23C0CF;
}

.work_6 .right_half_work {
  background: url("../img/eye-retina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.work_7 .left_half_work {
  background: #0D6EFD;
}

.work_7 .right_half_work {
  background: url("../img/rosemary-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/**************************************

    5. PRODUCTS

**************************************/
.products {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  scroll-snap-align: start;
}

.products_wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products_wrap .product {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products_wrap .product .product_logo img {
  width: 250px;
  max-width: 250px;
}

.products_wrap .product h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 800;
}

.products_wrap .product p {
  color: #414141;
  line-height: 1.6;
}

.product1, .product2 {
  width: 50%;
}

.product2 {
  background: #fdd203;
}

 .product2 .btn_main {
  background: white;
} 

/**************************************

    6. CONTACT

**************************************/
.contact {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  scroll-snap-align: start;
}

.contact_section_wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_content {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_content {
  height: 35%;
}

.contact_form_main > .row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact_form_main .col-md-6, .contact_form_main .col-md-12 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form_main .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_form_main .form-group label {
  text-align: left;
  font-size: 1rem;
  color: #414141;
  font-weight: 500;
  font-family: 'catamaran';
}

.contact_form_main .form-group input, .contact_form_main .form-group textarea {
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  min-height: 40px;
  padding: 10px 15px;
}

.contact_form_main .form-group textarea {
  height: 100px;
}

.bottom_content {
  width: 100%;
  padding: 30px 0;
  background: #FDD203;
}

.bottom_content .container > .row, .bottom_content .container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom_social_icons .icon_social i {
  font-size: 1.2rem;
  color: #2D2D2D;
}

.bottom_social_icons .icon_social:not(:last-child) {
  margin-right: 30px;
}

.contact_numbers a {
  color: #414141;
}

.footer_contact a, .footer_contact p {
  color: #414141;
}

.newsletter {
  text-align: center;
}

.newsletter h4 {
  margin-bottom: 0px;
  white-space: nowrap;
}

.newsletter p {
  color: #414141;
}

.newsletter_subscription {
  margin-top: 30px;
}

.newsletter_subscription input {
  width: 320px;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  margin-top: auto;
  padding: 10px 15px;
  border-radius: 25px;
  margin-right: 5px;
}

.newsletter_subscription button {
  padding: auto 10px;
  background: #222;
}

.newsletter_subscription button:hover {
  background: #000;
}

.newsletter_subscription button i {
  min-width: 20px;
  text-align: center;
  color: white;
}

.btn_news {
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: white;
}

.map_wrap {
  height: 150px;
  width: 150px;
  border: 5px solid white;
  margin-left: auto;
}

.map_wrap iframe {
  max-height: 100%;
  max-width: 100%;
}

.inquiry_home {
  text-align: center;
}

.inquiry_home button {
  border: none;
  margin-top: 15px;
}

.title_section_absolute {
  position: absolute;
  z-index: 2;
  font-family: 'muli';
  font-size: 4.5rem;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
  color: rgba(122, 122, 122, 0.15);
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-40%) translateY(-50%) rotate(90deg);
          transform: translateX(-40%) translateY(-50%) rotate(90deg);
}

/**************************************

    7. PRODUCT SINGLE PAGE

**************************************/
.product_single_page p {
  font-size: 1.5rem;
  margin-bottom: 1em;
  line-height: 1.6;
}

.product_intro {
  text-align: center;
  background: #F6F6F6;
  padding: 60px 0 0 0;
  height: 80vh;
}

.product_intro h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.product_intro h2 {
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}

.product_intro button {
  margin-top: 30px;
  border: none;
}

.product_intro figure {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  background: none;
  max-width: 250px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.product_intro figure img {
  width: 100%;
}

.product_intro_content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product_intro_content p {
  font-size: 1.5rem;
  margin-bottom: 1em;
  line-height: 1.6;
}

.product_features {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.product_features .container > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.product_features p {
  font-size: 1.2rem;
}

.product_features h3 {
  display: inline;
}

.product_features h3 .underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.product_features h3 .underline::before {
  display: inline-block;
  position: absolute;
  top: 28px;
  z-index: -1;
  content: "";
  width: 100%;
  height: 18px;
  background-color: rgba(253, 210, 3, 0.7);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product_features h3 .underline-con:hover {
  cursor: pointer;
}

.product_features h3 .underline-con:hover .underline:before {
  opacity: 0;
}

.underline {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.underline::before {
  display: inline-block;
  position: absolute;
  top: 28px;
  z-index: -1;
  content: "";
  width: 100%;
  height: 18px;
  background-color: rgba(253, 210, 3, 0.4);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.underline-con:hover {
  cursor: pointer;
}

.underline-con:hover .underline:before {
  opacity: 0;
}

.feaures_img_demo {
  height: 350px;
}

.feaures_img_demo img {
  height: 100%;
}

.has_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fade_in {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_in.appear.time_1 {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slide_in.appear.time_2 {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.slide_in.appear.time_3 {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.slide_in.appear.time_4 {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.fade_in.appear {
  opacity: 1;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.slide_in {
  opacity: 0;
}

.slide_in.appear {
  opacity: 1;
}

.from_left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.from_right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.from_left, .from_right {
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.from_left.appear, .from_right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.call_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.call_action .content_left_50, .call_action .content_right_50 {
  width: 50%;
  padding: 80px;
}

.call_action .content_left_50 {
  background: #F6F6F6;
}

.call_action .content_right_50 {
  background: #FDD203;
}

/************** CALL TO ACTION SECTION ****************/
.call_action h4 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.call_action h4 strong {
  font-weight: 800;
  color: #2D2D2D;
}

.call_action .collaborate {
  background: #00072D;
  color: white;
}

footer.height_adjust {
  height: auto;
}

/**************************************

    8. CASE STUDY

**************************************/
.case_study_top_hero {
  width: 100%;
  height: 400px;
  background-image: url("../img/faith-hero-back.png");
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
}

.case_study_top_hero h1 {
  text-align: center;
  color: white;
  font-weight: 800;
}

.case_study_top_hero h4 {
  text-align: center;
  color: white;
}

.featured_hero_logo {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 10px 10px;
}

.featured_hero_logo img {
  max-width: 120px;
}

.overlay_dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/************** case_study_parameters **************/
.case_study_parameters {
  display: block;
}

.case_study_parameters p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.case_study_parameters h5 {
  text-transform: uppercase;
}

.case_study_technicals {
  border-top: 1px solid #2D2D2D;
  border-bottom: 1px solid #2D2D2D;
}

.line_separate {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 50%;
  background: #2D2D2D;
  z-index: 1;
  opacity: 1;
}

.case_study_look_feel img {
  width: 100%;
  margin-bottom: 30px;
}

/************ REIZVOLL ************/
.reizvoll .case_study_top_hero {
  background: url("../img/reizvoll_back.png");
  background-repeat: no-repeat;
}

/************** GA builders **************/
.ga .case_study_top_hero {
  background: url("../img/ga_back.png");
  background-repeat: no-repeat;
}

/************** Yatra Nepal **************/
.yatra .case_study_top_hero {
  background: url("../img/yatra_nepal_back.jpg");
  background-repeat: no-repeat;
}


/************** nvrs **************/
.nvrs .case_study_top_hero {
  background: url("../img/nvrs_back.jpg");
  background-repeat: no-repeat;
}


/************** NVCCI builders **************/
.NVCCI .case_study_top_hero {
  background: url("../img/nvcci_back.jpg");
  background-repeat: no-repeat;
}

/************** rosemary **************/
.rosemary .case_study_top_hero {
  background: url("../img/rosemary_back.jpg");
  background-repeat: no-repeat;
}


/************** Maitri News **************/
.maitri .case_study_top_hero {
  background: url("../img/maitri_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/************** Aero Nepal **************/
.aero .case_study_top_hero {
  background: url("../img/aero_back.png");
  background-repeat: no-repeat;
}

/************** wacaau **************/
.wacaau .case_study_top_hero {
  background: url("../img/wacaau_back.png");
  background-repeat: no-repeat;
}

.case_studies_bar img {
  height: 180px;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.case_studies_bar h5 {
  margin-top: 10px;
}

/**************************************

    9. BLOG LISTING PAGE

**************************************/
.blog_list_main .col-md-4 {
  text-align: right;
}

.blog_meta {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

span.as_a_tag {
  display: inline-block;
  background: #F6F6F6;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  margin-right: 5px;
}

.blog_single {
  margin-bottom: 45px;
}

.blog_single h2 {
  font-size: 2.5rem;
}

.load_more {
  width: 100%;
  text-align: center;
}

.load_more a {
  display: inline-block;
  position: relative;
}

.load_more a i {
  display: inline-block;
  border: 1px solid #cbcbcb;
  padding: 15px;
  border-radius: 50%;
  min-width: 47px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.load_more a i:before {
  z-index: 1;
}

.load_more a i .bakcground_load_more {
  position: absolute;
  background: #FDD203;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.load_more p {
  text-align: center;
  display: block;
}

/**************************************

    10. BLOG SINGLE PAGE

**************************************/
.hero_img_top_blog {
  background-image: url("../img/blog/blog1.html");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_img_top_blog > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero_img_top_blog h1 {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  color: white;
}

.blog_single_content {
  background: #F6F6F6;
}

.blog_single_content .container {
  width: 60%;
}

.blog_single_content p {
  font-size: 1.4rem;
  color: #313131;
  margin-bottom: 1.4em;
  line-height: 1.6;
}

.blog_single_content a {
  color: inherit;
  text-decoration: underline;
}

.blog_single_content .writer_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_single_content .writer_meta img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog_single_content .writer_meta .writer_name {
  font-weight: 700;
  font-size: 1.2rem;
  color: #2D2D2D;
}

.blog_single_content .writer_meta .writer_name .writer_designation {
  font-weight: 400;
}

.blog_single_content ul {
  font-size: 1.4rem;
  color: #313131;
  list-style-type: decimal;
  margin-bottom: 2em;
}

.blog_single_content ul p {
  margin-bottom: 0.2em;
}

.blog_single_content ul li {
  font-size: 1.4rem;
  margin-left: 45px;
  margin-bottom: 0.6em;
  color: #313131;
}

/**************************************

    11. QUERY FORMS

**************************************/
.form_fixed {
  position: fixed;
  z-index: 10;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 20px;
}

.form_product_page {
  border: 3px solid rgba(253, 210, 3, 0.8);
}

.form_product_page .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.form_product_page .form-group label {
  font-size: 1rem;
  color: #2D2D2D;
  margin-bottom: 3px;
}

.form_product_page .form-group input, .form_product_page .form-group select {
  height: 40px;
  border-radius: 25px;
  border: 1px solid #cbcbcb;
  padding: 5px 15px;
}

.form_product_page .form-group textarea {
  height: 80px;
  border: 1px solid #cbcbcb;
  padding: 5px 15px;
  border-radius: 5px;
}

.form_product_page .form-group input.focus, .form_product_page .form-group input.active, .form_product_page .form-group select.focus, .form_product_page .form-group select.active, .form_product_page .form-group textarea.focus, .form_product_page .form-group textarea.active {
  outline: 1px solid #FDD203;
}

.overlay_dark__ {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9;
  left: 0;
  top: 0;
}

.form_for_demo {
  display: none;
}

.form_for_demo h4 .quote_for {
  color: #2D2D2D;
}

.form_for_demo h4 .quote_for .underline:before {
  top: 18px;
  height: 14px;
}

.overlay_dark__ {
  display: none;
}

.btn_close {
  position: absolute;
  top: -30px;
  right: -100px;
  z-index: 1;
  cursor: pointer;
}

.btn_close i {
  font-size: 45px;
  color: #FDD203;
}

#form_for_product_inquiry {
  min-width: 450px;
}

/****************** GET A FREE DEMO FORM *******************/
/**************************************

    12. Bee Logo Animation

**************************************/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo i svg {
  width: 80px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

#wings {
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateY(5px) skewY(10deg);
            transform: translateY(5px) skewY(10deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    -webkit-transform: translateY(0px) skewY(0deg);
            transform: translateY(0px) skewY(0deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: translateY(5px) skewY(10deg);
            transform: translateY(5px) skewY(10deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translateY(5px) skewY(10deg);
            transform: translateY(5px) skewY(10deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  50% {
    -webkit-transform: translateY(0px) skewY(0deg);
            transform: translateY(0px) skewY(0deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    -webkit-transform: translateY(5px) skewY(10deg);
            transform: translateY(5px) skewY(10deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
}


/*Add css*/

.tech_icons i.fa-react:hover {
  color: #00d8ff
}

.technology_icon svg {
  fill: #7a7a7a!important;
  width: 24px;
  margin-right: 15px;
}


.technology_icon  svg.fa-shopify:hover {
  fill: #95bf46!important;
}

.footer-logo {
  width: 240px;
  margin: 0 auto;
}


canvas {
  display: block;
  background-color: #fbfbfb00;
}

.services-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      max-width: 1000px;
      padding: 20px;
      margin-left:100px;
  }

  .service-box {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease;
      cursor: pointer;
  }

  .service-box:hover {
      transform: translateY(-5px);
  }

  .service-title {
      font-size: 1.5em;
      color: #333;
      margin-bottom: 10px;
  }

  .service-description {
      font-size: 1em;
      color: #666;
  }

/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/**************************************

    1. MAIN NAVIGATION

**************************************/
/*# sourceMappingURL=style.css.map */